.calc {
  width: 210px;
  margin: 0px auto;
  padding: 15px;
}
#total{
  max-width: 165px;
  margin: 0px auto 15px auto;
  font-family: 'Nova Square', sans-serif;
}
.btn {
  min-width: 31px;
  margin: 3px;
}